<!-- <p>home works!</p>
<!DOCTYPE html> -->
<html lang="en">
<head>
    <!-- <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FormConnect</title>
    <link rel="stylesheet" href="style.css"> -->
   <!--- <script defer src="OPCloud.ts"></script>-->
</head>
<body>
  <div class="container-fluid">
    <form id="form" action="" method="GET">

          <div >
            <a></a>
            <input id="back" value="Back" onclick="history.go(-1)">
        </div>
        <h1>Test Details</h1>
    <div class="bdy">
        <div>
            <br/>
            <label for="enviName" >Test Id:</label>
          <br/>
          <input  id="test_id" style="margin-bottom: 0px;" type="enviName" name="enviName"  value=""  >
        </div>

        <div >
            <label for="enviName" >Category:</label>
            <br/>
            <input style="margin-bottom: 0px;" type="enviName" name="enviName" id="category"  >
        </div>
          <div >
            <label for="enviName" >Group:</label>
            <br/>
            <input style="margin-bottom: 0px;" type="enviName" name="enviName" id="group" >
          </div>
          <div >
            <label for="enviName" >Test Case:</label>
            <br/>
            <input style="margin-bottom: 0px;" type="enviName" name="enviName" id="testCase" >
 
          </div>
          <div>
            <label for="enviName" >Test Title:</label>
            <br/>
            <input style="margin-bottom: 0px;" type="enviName" name="enviName" id="testTitle" >
          </div>
          <div>
            <label for="enviName" >Symbol:</label>
            <img src="" alt="test symbol"  id="pic" [(ngModel)]="symbol">
         <br/>
          </div>
          <div>
            <label for="enviName" >Test Summary:</label>
          <br/>
          <textarea style="margin-top: -35px;" for="enviName" name="TestSummary" rows="4" cols="30"  id="testSummary"></textarea>
        </div>
        <div>
          <br/>
          <label for="enviName" >Test Steps:</label>
        <br/>
        <textarea style="margin-top: -50px;" for="enviName" name="TestSummary" rows="4" cols="30" id="testSteps"></textarea>
      </div>
      <div>
        <br/>
        <label for="enviName" >Test Data:</label>
      <br/>
      <textarea style="margin-top: -50px;" for="enviName" name="TestSummary" rows="4" cols="30"id="testData"></textarea>
    </div>
    <div>
      <br/>
      <label for="enviName" >Expected Result:</label>
    <br/>
    <textarea style="margin-top: -50px;" for="enviName" name="TestSummary" rows="4" cols="30" id="expectedResult"></textarea>
  </div>
  <div>
    <br/>
    <label for="enviName" >Notes:</label>
  <br/>
  <textarea style="margin-top: -50px;" for="enviName" name="TestSummary" rows="4" cols="30" id="notes"></textarea>
</div>
          <div class="addBtn">
            <input style="width: 190px;" type="submit" name="go"  routerLink="/testHistory" value="See Test History" >
            <input style="width: 190px; float:right;" type="submit" name="go"  value="Save Changes" (click)="editTest()" >
            <br/>
            <br/>
            <input style="width: 400px; margin-top: 30px; color:red;" type="submit" name="go"  value="Delete Test" (click)="deleteTest()">
            </div>
        </div>

        <br>

      </form>
     </div>
   </body>
</html>
