<head>
  <title>Test History</title>
</head>
<body>
  <div >
      <input type="button" value="Go Back" onclick="history.go(-1)">
  </div>
  <h1>Test History</h1>
  <br><br>
  <label>Test ID</label><br><br>
  <label>Group</label><br><br>
  <label>Test Title</label><br><br>
  <label>Success Rates</label><br><br>
  <br>
  <p><strong>This test was part of the following builds</strong></p>
  <table class="table-fill">
      <thead>
      <tr>
      <th class="text-left">Build ID</th>
      <th class="text-left">Environment</th>
      <th class="text-left">Test Status</th>
      <th class="text-left">Date</th>
      <th class="text-left">Build Status</th>
      </tr>
      </thead>
      <tbody class="table-hover">
      <tr>
      <td class="text-left">21</td>
      <td class="text-left">Trunk</td>
      <td class="text-left">Running</td>
      <td class="text-left">10/04/2020</td>
      <td class="text-left">Faild</td>
      </tr>
      </tbody>
      </table>
      </body>

<!-- <p>home works!</p>
<!DOCTYPE html> -->
<html lang="en">
<head>
    <!-- <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FormConnect</title>
    <link rel="stylesheet" href="style.css"> -->
   <!--- <script defer src="OPCloud.ts"></script>-->
</head>
<body>
  <div class="container-fluid">
    <form id="form" action="" method="GET">

          <div >
            <a></a>
            <input id="back" value="Back" onclick="history.go(-1)">
        </div>
        <h1>Test History</h1>
    <div class="bdy">
        <div>
            <br/>
            <label for="enviName" >Test Id:</label>
          <br/>
          <input style="margin-bottom: 0px;" type="enviName" name="enviName" id="enviName">
        </div>

        <div >
            <label for="enviName" >Group:</label>
            <br/>
            <input style="margin-bottom: 0px;" type="enviName" name="enviName" id="enviName">
        </div>
          <div >
            <label for="enviName" >Test Title:</label>
            <br/>
            <input type="enviName" name="enviName" id="enviName">
          </div>
          <div >
            <label for="enviName" >Success Rates:</label>
            <br/>
            <input type="enviName" name="enviName" id="enviName">
          </div>

        </div>

        <br>
        <div>
            <label style="padding-left:60px;" for="enviName" >This test was part of the following builds:</label>
        <table  >
            <thead >
            <tr>
                <th>Build ID</th>
                <th>Environment</th>
                <th>Test Status</th>
                <th>Date</th>
                <th>Build Status</th>
            </tr>
            <tr id="row1">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr id="row2">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr id="row3">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr id="row4">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr id="row5">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr id="row6">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr id="row7">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr id="row8">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr id="row9">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr id="row10">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </thead>
    </table>
  </div>

<div class="arrwos">
    <a href="#">
      <span class="left"></span>
    </a>
    <a> <p class="page">Page 1</p></a>
      <a  href="#">
        <span class="right"></span>
      </a>
  </div>
      </form>
     </div>
   </body>
</html>
