// @import "compass/css3";

* { box-sizing: border-box; }

body {
  font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  color:white;
  font-size:14px;
  background-color: #333333;
  //background:#333 url(/images/classy_fabric.png);
  height: 800px;
  font-weight:bold;
  padding-top:100px;
}

form {

  background:rgb(13, 76, 127);
  width:300px;
  height: 400px;
  margin:0px auto;
  border-radius:0.4em;
  border:1px solid #191919;
  overflow:hidden;
  position:relative;
  box-shadow: 0 5px 10px 5px rgba(0,0,0,0.2);
}

form:after {
  content:"";
  display:block;
  position:absolute;
  height:1px;
  width:100px;
  left:20%;
  background:linear-gradient(left, #111, #444, #b6b6b8, #444, #111);
  top:0;
}

form:before {
   content:"";
  display:block;
  position:absolute;
  width:8px;
  height:5px;
  border-radius:50%;
  left:34%;
  top:-7px;
  box-shadow: 0 0 6px 4px #fff;
}

.inset {
   padding:20px;
  border-top:1px solid #19191a;
}

form h1 {
  font-size:18px;
  text-shadow:0 1px 0 black;
  text-align:center;
  padding:15px 0;
  border-bottom:1px solid rgba(0,0,0,1);
  position:relative;
}

form a:after {
   content:"";
  display:block;
  width:250px;
  height:100px;
  position:absolute;
  top:0;
  left:50px;
  pointer-events:none;
  transform:rotate(40deg);
  background:linear-gradient(200deg, rgba(255,255,255,0.15), rgba(0,0,0,0));

}
img{
  height: 90px;
  width: 300px;
  text-align: center;
}
label {
   color:white;
  display:block;
  padding-bottom:6px;
}

input[type=text],
input[type=password] {
   width:100%;
  padding:8px 5px;
  background:linear-gradient(#1f2124, #27292c);
  border:1px solid #222;
  box-shadow:
  0 2px 0 rgba(255,255,255,0.1);
  border-radius:0.3em;
  margin-bottom:0px;
}

label[for=remember]{
  color:white;
  display:inline-block;
  padding-bottom:0;
  padding-top:2px;
}

input[type=checkbox] {
  display:inline-block;
  vertical-align:top;
}

.p-container {
   padding:8px 20px 20px 10px;
}

.memmberMe {
   margin-right: 18px;
}
.fs{
  padding-top: 50px;
}
div{
  padding-top: 0;
  margin: 0;
}
.p-container:after {
   clear:both;
  display:table;
  content:"";
}

.p-container span {
  display:block;
  float:left;
  color:#ffffff;
  padding-top:8px;
  padding-left: 0%;
}

.log-in {
  //padding-left: 85px;
  padding-top: 10px;
  width: 50px;
}

input[type=submit] {
   padding:5px 20px;
  border:1px solid rgba(0,0,0,0.4);
  text-shadow:0 -1px 0 rgba(0,0,0,0.4);
  box-shadow:
  inset 0 1px 0 rgba(255,255,255,0.3),
  inset 0 10px 10px rgba(255,255,255,0.1);
  border-radius:0.3em;
  background:rgb(13, 76, 127);
  background:linear-gradient(#1f2124, #27292c);
  border:2px solid #222;
  color:white;
  float:left;
  font-weight:bold;
  cursor:pointer;
  font-size: 14px;
  width: 260px;
  height: 33px;
}
a.btn{
 //padding:5px 20px;
 border:1px solid rgba(0,0,0,0.4);
 text-shadow:0 -1px 0 rgba(0,0,0,0.4);
 box-shadow:
 inset 0 1px 0 rgba(255,255,255,0.3),
 inset 0 10px 10px rgba(255,255,255,0.1);
 border-radius:0.3em;
 background:#0184ff;
 color:white;
 float:right;
 font-weight:bold;
 cursor:pointer;
 font-size:13px;
}

input[type=submit]:hover {
  box-shadow:
  inset 0 1px 0 rgba(255,255,255,0.3),
  inset 0 -10px 10px rgba(255,255,255,0.1);
}

input[type=text]:hover,
input[type=password]:hover,
label:hover ~ input[type=text],
label:hover ~ input[type=password] {
   background:#272c29;
}
