<!-- <p>home works!</p>
<!DOCTYPE html> -->
<html lang="en">
<head>
    <!-- <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FormConnect</title>
    <link rel="stylesheet" href="style.css"> -->
   <!--- <script defer src="OPCloud.ts"></script>-->
</head>
<body>
  <div class="container-fluid">
    <form id="form" action="homePage.html" method="GET">
      <div>
            <a><img src="https://i.ibb.co/BwKS9b0/Logo-png.jpg" alt="Logo-png" border="0"></a>
      </div>
        <div class="inset" >
        <p>
          <label for="email">Email address</label>
          <input type="text" name="email" id="email" >
        </p>
        <p >
          <label for="password" style=" margin-top: 10px;">Password</label>
          <input type="password" name="password" id="password" >
        </p>
        <div class="log-in">
        <input  type="submit" name="go" id="go" value="Log in" (click)="logIn()" >
        </div>
        
        <div class="fs">
          <span class="memmberMe">Forgot password?</span>
          <span class="Checker">
            <input type="checkbox" name="remember" id="remember">
            <label for="remember" style="color:#ffffff;" >Remember me </label>
          </span>
        </div>
        </div>
      </form>
     </div>
   </body>
</html>
