<!-- <p>home works!</p>
<!DOCTYPE html> -->
<html lang="en">
<script src="/src/app/node/index.js"></script>
<head>
    <!-- <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FormConnect</title>
    <link rel="stylesheet" href="style.css"> -->
   <!--- <script defer src="OPCloud.ts"></script>-->
</head>
<body>
  <div class="container-fluid">
    <form id="form" action="" method="GET">
        <div class="inset" >
          <div >
            <a></a>
            <input id="back" value="Back" onclick="history.go(-1)">
        </div>
          <h1>Add New Environment</h1>
          <div class="bdy">
        <p>
          <label><strong style="color:rgb(133, 195, 247)">Notice:</strong> Your environment will be added to Home Page. </label>
        <br/>
        </p>
        <p >
           <label for="enviName" style=" margin-top: 10px;">*Name:</label> 
           <input type="enviName" name="enviName" id="enviName" [(ngModel)]="environment_name"> 
        </p>
        <div class="addBtn">
        <input type="submit" name="go" id="go" value="Add environment" (click)="addEnvironment()">
        </div>
      </div>
      </div>
      </form>
     </div>
   </body>

</html>
