<!-- <p>home works!</p>
<!DOCTYPE html> -->
<html lang="en">
<head>
    <!-- <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FormConnect</title>
    <link rel="stylesheet" href="style.css"> -->
   <!--- <script defer src="OPCloud.ts"></script>-->
</head>
<body>
  <div class="container-fluid">
    <form id="form" action="" method="GET">

          <div >
            <a></a>
            <input id="back" value="Back" onclick="history.go(-1)">
        </div>
        <h1>Build Details</h1>
    <div class="bdy">
        <div>
            <br/>
            <label for="enviName" >Build Id:</label>
          <br/>
          <input style="margin-bottom: 0px;" type="enviName" name="enviName" id="build_id">
        </div>
        
        <div >
            <label for="enviName" >Jenkins Job Number:</label>
            <br/>
            <input style="margin-bottom: 0px;" type="enviName" name="enviName" id="jenkinsJN">
        </div>
          <div >
            <label for="enviName" >Status:</label>
            <br/>
            <input type="enviName" name="enviName" id="status">
          </div>
          <div >
            <label for="enviName" >Result:</label> 
            <br/>
            <input type="enviName" name="enviName" id="result">
          </div>
          <div>
            <label for="enviName" >Environment:</label>
            <br/>
            <input type="enviName" name="enviName" id="environment">
          </div>
          <div >
            <label for="enviName" >Group:</label>
            <br/>
            <input type="enviName" name="enviName" id="group" >
          </div>
          <div>
            <label for="enviName" >Date:</label>
            <br/>
            <input type="enviName" name="enviName" id="date">
          </div>
          <div>
            <label for="enviName" >Start Time:</label>
            <br/>
            <input type="enviName" name="enviName" id="start_time"> 
          </div>
          <div>
            <label for="enviName" >Run Duration:</label>
            <br/>
            <input type="enviName" name="enviName" id="run_duration">
          </div>
          <div>
            <label for="enviName" >Reported To:</label>
            <br/>
            <select style="margin-left: 85px;" id="reported_to" class="select-css" name="searchBy">
                <option value=""></option>
            </select>
          </div>
          <div>
            <label for="enviName" >Zoho Issue Link:</label>
            <br/>
            <input type="enviName" name="enviName" id="zoho" >
          </div>
        </div>

        <br>
        <div>
            <label style="padding-left:60px;" for="enviName" >Build consists of the following tests:</label>
        <table  >
            <thead >
            <tr>
                <th>Test ID</th>
                <th>Test Case</th>
                <th>Test Title</th>
                <th>Category</th>
                <th>Test Result</th>
            </tr>
            <tr id="row1">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>              
            </tr>
        </thead>
    </table>
      <br>

  </div>
      </form>
     </div>
   </body>
</html>
